---
// Component Logic (if needed)
---

<div class="bg-lavender-100 py-20 px-20">
  <div class="bg-cyan rounded-xl p-8 mx-auto border-1 border-border-black text-center mb-6">
    <h1>
      <span class="text-blue-dark">Fiber Network</span> is Making
    </h1>
    <h1>
      Satoshi's Vision a Reality
    </h1>
  </div>
  <div class="flex justify-between w-full text-white">
	<div class="bg-purple-dark p-[20px] rounded-xl border-1 border-border-black">
	<a
	  href="#"
	>
	  <h3>The Next Generation Common Lightning Network</h3>
	</a>
	</div>
	<div class="bg-black p-[20px] rounded-xl border-1 border-border-black flex gap-6">
	  <h3>
		Lightpaper
	  </h3>
	  <a
	  href="#"
	>
	 <img src="/icons/link.svg"/> 
	</a>
	</div>
      </div>
</div>
