---
// Component Logic (if needed)
---

<div class="bg-lavender-100 py-8 px-20">
  <div class="bg-cyan-300 rounded-xl p-8 mx-auto border-1 border-black mb-2">
    <h1 class="text-4xl font-bold text-center mb-4">
      <span class="text-[#0C32FF]">Fiber Network</span> is Making
    </h1>
    <h2 class="text-4xl font-bold text-center mb-6">
      Satoshi's Vision a Reality
    </h2>
  </div>
  <div class="flex justify-center w-full">
	<div>
	<a
	  href="#"
	  class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded"
	>
	  The Next Generation Common Lightning Network
	</a>
	</div>
	<div>
		<a
	  href="#"
	  class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded flex items-center"
	>
	  Lightpaper
	  <svg
	    xmlns="http://www.w3.org/2000/svg"
	    class="h-5 w-5 ml-2"
	    viewBox="0 0 20 20"
	    fill="currentColor"
	  >
	    <path
	      fill-rule="evenodd"
	      d="M14.707 3.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-3-3a1 1 0 011.414-1.414L7 9.586l6.293-6.293a1 1 0 011.414 0z"
	      clip-rule="evenodd"></path>
	    <path
	      fill-rule="evenodd"
	      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
	      clip-rule="evenodd"></path>
	  </svg>
	</a>
	</div>
      </div>
</div>
