<div class="p-20 mb-8">
  <div class="bg-purple border-1 border-border-black p-5 rounded-xl text-center mb-6">
    <h2>Lightning Network vs. Fiber Network</h2>
  </div>
  <div class="overflow-x-auto border-1 border-border-black rounded-xl text-body1">
    <table class="w-full">
      <thead>
        <tr class="border-b">
          <th class="py-5 px-[10px] text-left"><h4>Features</h4></th>
          <th class="p-5 text-center bg-cyan"><h4>Fiber Network</h4></th>
          <th class="p-5 text-center bg-orange-dark"><h4>Lightning Network</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b">
          <td class="py-5 px-[10px] text-left">Assets</td>
          <td class="p-5 text-center bg-cyan-light">CKB/RGB++</td>
          <td class="p-5 text-center bg-orange-light">BTC Only</td>
        </tr>
        <tr class="border-b">
          <td class="py-5 px-[10px] text-left">Cross Chain Hub</td>
          <td class="p-5 text-center bg-cyan-light">✓ Yes</td>
          <td class="p-5 text-center bg-orange-light">✗ No</td>
        </tr>
        <tr>
          <td class="py-5 px-[10px] text-left">Watchtower Storage</td>
          <td class="p-5 text-center bg-cyan-light">O(1)</td>
          <td class="p-5 text-center bg-orange-light">O(n)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
