<div class="rounded-xl py-20 px-20 mb-8">
  <div>
    <h2
      class="bg-blue text-center rounded-xl p-[20px] mb-6 border-1 border-border-black"
    >
      How Does Fiber Network Work?
    </h2>
  </div>
  <div class="relative bg-yellow-light rounded-lg p-4 border-1 border-black">
	<img src="/imgs/step1.png" alt="">
  </div>
  <div class="flex justify-between mt-4 text-white">
    <button class="flex items-center gap-2 bg-black rounded-xl p-[20px]">
      <img src="/icons/left.svg" alt="" />
      <h3>Previous</h3>
    </button>
    <div class="text-sm bg-purple-dark flex p-[20px] rounded-xl border-1 border-black"><h3>1/4 Off-Chain Payment Channels</h3>
    </div>
    <button class="flex items-center gap-2 bg-black rounded-xl p-[20px]">
      <h3>Next</h3><img src="/icons/right.svg" alt="" />
    </button>
  </div>
</div>
