<footer class="bg-black text-white py-12 rounded-t-xl">
  <div
    class="flex flex-col align-middle items-center gap-6 px-4 text-center justify-center"
  >
    <div class="w-20">
      <img src="/favicon.svg" alt="" />
    </div>
    <h2>Join Our Community</h2>
    <div class="flex justify-center gap-4 mb-6">
      <a href="#" class="hover:opacity-80">
        <img src="/icons/social-media/twitter.svg" alt="" />
      </a>
      <a href="#" class="hover:opacity-80">
        <img src="/icons/social-media/github.svg" alt="" />
      </a>
      <a href="#" class="hover:opacity-80">
        <img src="/icons/social-media/substack.svg" alt="" />
      </a>
    </div>
    <div
      class="text-sm opacity-50 flex align-middle items-center justify-center gap-2"
    >
      Join Our Community •
      <a href="#" class="hover:opacity-80 w-6">
        <img src="/icons/social-media/twitter.svg" alt="" />
      </a>
      <a href="#" class="hover:opacity-80 w-6">
        <img src="/icons/social-media/github.svg" alt="" />
      </a>
      <a href="#" class="hover:opacity-80 w-6">
        <img src="/icons/social-media/substack.svg" alt="" />
      </a>
      © 2024
    </div>
  </div>
</footer>
